.btn-warning {
  color: #3C3C3C;
  box-shadow: 0px 2px 0px #bc4809;
}

.btn-warning:hover {
  box-shadow: 0px 2px 0px #bc4809;
}

.btn-danger {
  
  box-shadow: 0px 2px 0px #c3002f;
}

legend.custom-fieldset {
  width: inherit;
  padding: 0 10px;
  border-bottom: none;
  color: #317a9f;
  font-size: small;
}

.page-title {
  font-family: 'PT Serif', serif;
  font-style: italic;
  color: #1e4368;
  margin-top: 35px;
}

/*@media (min-width: 1200px) {
  .container {
    width: 95%;
  }
}*/
